In [1]:
import numpy as np
import pandas as pd
from BirthdayClass import *

In [6]:
myfile=Birthdays('birthdates.txt')

In [13]:
myfile.filepath

'birthdates.txt'

In [16]:
myfile.table

  day month  year       name
0  10    12  1997      Sarah
1   4    11  1999  Katherine
2  28     4  1964       Rich
3  24    11  1963     Martha
4  22     7  1998      Scott

In [18]:
myfile.table.day

0    10
1     4
2    28
3    24
4    22
Name: day, dtype: object

In [20]:
myfile.table.name[4]

'Scott'